.menu-principal-button {
    -fx-background-color: rgba(104, 118, 129, 0.88)
}

.menu-principal-button:hover {
    -fx-background-color: rgba(71, 49, 255, 0.69);
    -fx-text-fill: #f9f9f9;
}

.menu-principal-button:focused {
    -fx-text-fill: #f9f9f9;
    -fx-background-color: rgba(71, 49, 255, 0.69);
}

.close-button:hover {
    -fx-background-color: #d6808b;
}

.minimize-button:hover{
    -fx-background-color: #5f62ff;
}

.image-visor:hover {
    -fx-background-color: #ced2ff;
}

.button-imagen {
    -fx-background-color: #ffb27b;
}

.button-save {
    -fx-background-color: #5f62ff;
}

.button-close {
    -fx-background-color: #ff273c;
}

.button-circle {
    -fx-background-radius: 30px;
    -fx-min-width: 30px;
    -fx-max-width: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-background-insets: 0px;
}




